@using MakeRequestWebApp.Models;
@using MakeRequestWebApp.Utilitys;
@using System
@using System.IO

@inject IHttpClientFactory ClientFactory



<div class="row mb-3">
    <label for="inputEmail3" class="col-sm-2 col-form-label">Request ID</label>
    <input type="text" class="form-control col-sm-8" value="@ThisReq.ArqID">
    <input type="submit" @onclick="SubReqID" />

</div>

<div class="overflow-scroll">

    <MakeRequestWebApp.Pages.FormInput.FormInput UpdatedProp="isEdited" thisProp="@MkProp("RequestDetail", ThisReq.Record)" />

    <MakeRequestWebApp.Pages.FormInput.FormInput UpdatedProp="isEdited" thisProp="@MkProp("RequestorName", ThisReq.Record)" />

    <MakeRequestWebApp.Pages.FormInput.FormInput UpdatedProp="isEdited" thisProp="@MkProp("OrganisationUnitID", ThisReq.Record)" />

    @if (ShowDocs)
    {
        <InputFile multiple OnChange="@AddFile"/>
    }



</div>

